<ion-view view-title="Sesiones Anteriores" class="sessionsList">
<ion-content>
	<h4>Sesiónes anteriores</h4>
	<table class="table">
		<tr>
	    	<th>Lugar</th>
			<th>Fecha</th>
			<th>Operario</th>
			<th>Estado</th>
			<th></th>
		</tr>
		<tr ng-repeat="session in sessions">	
			<td>{{ session.place }}</td>
			<td>{{ session.date }}</td>
			<td>{{ session.operatorFirstName + ' ' + session.operatorLastName  }}</td>
			<td>{{ session.isSync?'Sinc.':'No sinc.' }}</td>
			<!--  CORREGIR NG-MODEL, AHORA ESTA SINCRONIZANDO TODOS -->
			<td class="last"><input type="checkbox" value="session.isSync" ng-model="session.hasToSync" ng-disabled="session.isSync" ng-checked="session.isSync"></td>
		</tr>
	</table>
  </ion-content>
	<div class="row actions bottomButton">
		<div class="col-xs-12 centerContent">
		<div class="row">
			<div class="col-xs-12 syncProgress">
				<span>Sincronizando: 0%</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a href="#/" nav-direction="back" class="btn btn-default pull-left">VOLVER &lt;</a>
				<a href="#" nav-direction="back" ng-click="syncNew();" ng-disabled="!hasSessionToSync" class="btn btn-default pull-right">SINCRONIZAR &gt;</a>
			</div>
		</div>
		</div>
	</div>
</ion-view>
