<ion-view view-title="Nueva sesión" class="session">
<ion-content>
	<form action="#" method="get" class="form-horizontal">
		<div class="operatorData">
			<h3 class="title"><img src="img/datos_del_operario.png" class="img-responsive"></h3>
			<div class="form-group">
		  		<label for="session_operator_firstname" class="col-xs-3 control-label">Nombre</label>
		    	<div class="col-xs-9">
		    		<input type="text" class="form-control" id="session_operator_firstname" name="session[operator_firstname]" ng-model="session.operatorFirstName">
				</div>
			</div>
			<div class="form-group">
		   		<label for="session_operator_lastname" class="col-xs-3 control-label">Apellido</label>
		   		<div class="col-xs-9">
		   			<input type="text" class="form-control" id="session_operator_lastname" name="session[operator_lastname]"  ng-model="session.operatorLastName">
		   		</div>
			</div>
		</div>
		<div class="sessionData">
			<h3 class="title"><img src="img/datos_de_sesion.png" class="img-responsive"></h3>
			<div class="form-group">
			 	<label for="session_place" class="col-xs-3 control-label">Lugar</label>
			    <div class="col-xs-9">
			    	<input type="text" class="form-control" id="session_place" name="session[place]" ng-model="session.place">
			    </div>
			</div>
			<div class="form-group">
			   	<label for="session_state" class="col-xs-3 control-label">Provincia</label>
			   	<div class="col-xs-9">
			   		<input type="text" class="form-control" id="session_state" name="session[state]" ng-model="session.state">
			   	</div>
			</div>
			<div class="form-group">
			   	<label for="session_city" class="col-xs-3 control-label">Ciudad</label>
			   	<div class="col-xs-9">
			   		<input type="text" class="form-control" id="session_city" name="session[city]" ng-model="session.city">
			   	</div>
			</div>
			<div class="form-group">
			   	<label for="session_date" class="col-xs-3 control-label">Fecha</label>
			   	<div class="col-xs-9 date">
				   	<div class="col-xs-4">
			   			<input type="text" class="form-control" id="session_date"  ng-model="session.day">
					</div>
					<div class="col-xs-4">
						<input type="text" class="form-control" name="session[date][month]"  ng-model="session.month">
					</div>
					<div class="col-xs-4">
						<input type="text" class="form-control" name="session[date][year]" ng-model="session.year">
					</div>
			   	</div>
			</div>
		</div>
		
	</form>
	
  </ion-content>
<a href="#" ng-click="saveSession();" class="bottomButton"><img src="img/nextButton.png" class="img-responsive"></a>
</ion-view>
