html, body {
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	font-family: Arial;
}

body {
	background: url(../img/app_background.jpg) no-repeat center top;
	background-size: cover;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

h1, .h1, h2, .h2, h3, .h3, h4 {
	margin-bottom: 20px;
	color: #FFFFFF;
}

h3.title {
	margin-bottom: 8%;
}

button {
	background: transparent;
	border: none;
}

.pane, .view {
	background: transparent;
	width: 78%;
	margin: 0 auto;
}

/*.scroll-content {
	top: 23%;
}*/

.scroll-content .scroll {
	margin-top: 50%;
}

.home ul {
	padding-top: 10px;
}

.home ul li {
	margin: 15% 0;
}

.sessionData {
	margin-top: 50px;
}

.bottomButton {
	position: absolute;
	bottom: 10%;
}	

.form-group label {
	font-family: 'open_sansregular';
	color: #FFFFFF;
	padding-right: 0;
	font-size: 18px;
	line-height: 38px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
	height: 43px;
	padding: 6px 18px;
	background: url(../img/input_background.png) no-repeat;
	background-size: contain;
	background-position: center center;
	font-size: 16px;
}

.form-group .date .col-xs-4 {
	padding: 0;
}

.form-group .date input[type="text"] {
		background: url(../img/input_small_background.png) no-repeat;
		background-size: contain;
}

.form-group .date input[name="session[date][month]"] {
	background-position: center center;
}

.form-group .date input[name="session[date][year]"] {
	background-position: right;
	padding-left: 28px;
}

.step1 .indications {
	margin-bottom: 10%;
}

.picture.addPersons ion-content {
    height: 56%;
	top: 23%;
}

.picture.addPersons ion-content.scroll-content .scroll {
	margin-top: 0;
}

.picture.addPersons form {
	width: 110%;
	height: 66%;
	overflow-y: scroll;
	margin-bottom: 8%;
}

.picture.addPersons form .person {
	width: 90%;
}

.picture.addPersons form .person .addRemoveButton {
	margin-bottom: 15px;
}

.sessionsList h4 {
	font-size: 24px;
}

.sessionsList table {
	width: 99%;
}
.sessionsList table tr th,
.sessionsList table tr td {
	border: 3px solid #FFFFFF;
}

.sessionsList table tr th:last-child {
	border: 0;
}

.sessionsList table tr th {
	text-transform: uppercase;
	font-size: 18px;
}

.sessionsList table tr td {
	font-size: 16px;
}

.sessionsList .actions {
	margin: 0;
}